.logo {
  background: url("./food.svg");
  background-position: center;
  background-size: cover;
  height: 40px;
  width: 40px;  
}
.link {
  color: black;
}
.search-container {
  display: flex;
  flex-direction: row;
}
